body{
    background-color: #eee;
    }
    
    form{
    background-color: rgba(204, 204, 204, 0.479);
    width: 200px;
    height: 190px;
    margin: auto;
    margin-top: 25px;
    padding: 15px;
    }
    input{
    height: 25px;
    }