/*informações gerais*/
body {
    display: flex;
    margin:0;
    min-height: 100vh;
    flex-direction: row;
    
}

.slogan {
    flex: 1;
    background-color: #BEE0DF;
    display: flex;
    flex-direction: column;
}
.formulario{
    background-image: url("../imagens/pet.jpg");
    flex:3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;  
}
.formulario .tituloGeral{
    font-weight: bold;
    font-size: 25px;
}
form{
    display: flex;
    flex-direction: column;
    border: solid 2px  #00A9A4;
    border-radius: 3px;
    padding: 10px;
   
}
form .dados1, form .dados2, form .dados3,form .dados4,form .dados5 {
    display: flex;
    margin-bottom: 10px;
}
form .sublinhado {
    border-top: solid 3px red;
    width:40px;
}
form .tituloPet, form .tituloProprietario{
    font-size: 18px;
}
/*------------------------------------------parte da seção do slogan---------------------*/
/*header :cabeçario*/
.cuidar {
    display:flex;
    flex:2;
    justify-content: center;
}
.simbolo {
    width: 180px;
    height: 180px;
}
.imagem1{
    display: flex;
    align-items: center;
}
.nomedaVeterinaria {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #00A9A4;
}
/*article:conteudo*/
.conteudo {
    display: flex;
    flex-direction: column;
    flex:3;
    justify-content: center;
}
.conteudo .simbolo2{
    width: 300px;
    height: 300px;
}
.imagem2{
    display:flex;
    justify-content: center;
}

.conteudo .agendar{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    color: #00A9A4;
    margin-bottom: 15px;
}
/*footer:contatos, rodapé*/
.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color:#00A9A4 ;
    color: #BEE0DF;
    font-weight: bold;
    font-size: 18px;
    flex:1;
}
.veterinario{
    padding: 10px;
    display: flex;
    justify-content: center;
}
.redessociais{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 15px;
}
.redessociais-simbolos {
    width: 40px;
}
.sobre {
    
}


/*------------------------------------------parte da seção do formulario ----------------*/

/*informacoes do pet*/
form .dadosPet {
    margin-bottom: 25px;
}

form .tituloPet{
    margin-bottom: 10px;
}

 form .inputPet{
     margin-left: 5px;
     margin-right: 20px;
     border: solid 2px #00A9A4 ;
     border-radius: 5px;
 }
 form .idadePet{
     margin-left:28px;
     border: solid 2px #00A9A4 ;
     border-radius: 5px;
 }
 form .especiePet{
    margin-left: 38px;
    margin-right: 20px;
    border: solid 2px #00A9A4 ;
     border-radius: 5px;
 }
 form .racaPet{
     margin-left: 32px;
     border: solid 2px #00A9A4 ;
     border-radius: 5px;
 }
 form .sexoPet{
     margin-left: 55px;
     margin-right: 20px;
     border: solid 2px #00A9A4 ;
     border-radius: 5px;
 }
 form .pelagemPet{
     margin-left: 10px;
     border: solid 2px #00A9A4 ;
     border-radius: 5px;
 }

 /* informações do proprietario*/

 form .tituloProprietario {
     margin-bottom: 10px;
     
 }
 form .inputUser{
     margin-left: 45px;
     margin-right: 20px;
     border: solid 2px #00A9A4 ;
     border-radius: 5px;
 }
 form .foneUser {
     margin-left: 17px;
     border: solid 2px #00A9A4 ;
     border-radius: 5px;;
 }
 form .nascimentoUser{
     margin-left: 16px;
     margin-right: 50px;
     border: solid 2px #00A9A4 ;
     border-radius: 5px;
 }

 form .fone2User {
     margin-left:20px;
     border: solid 2px #00A9A4 ;
     border-radius: 5px;
 }

 /*  parte dos botões*/

 form .botao{
    margin-top: 20px;
    display:flex;
    justify-content: center;
    gap: 15px;
 }
 form .botao .enviar {
     background-color: #00A9A4;
     border-radius: 5px;
     font-weight: bold;
    color: white;
 }
 form .botao .limpar {
    background-color: #00A9A4;
    border-radius: 5px;
    font-weight: bold;
    color: white;
 }

 
